<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes</title>
    <link rel="stylesheet" href="../css/quizzes.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div id="navbar"></div>
    </header>
    <main id="whole-container">
        <div id="dropdowns">
            <select name="difficulty" id="difficulty">
                <option value="" disabled selected>Difficulty</option>
                <option class="options easy" value="Easy">Easy</option>
                <option class="options medium" value="Medium">Medium</option>
                <option class="options hard" value="Hard">Hard</option>
            </select>
             <select name="category" id="category">
                <option value="" disabled selected>Category</option>
                {{#each categories}}
                        <option class="options" value="{{this.type}}">{{this.type}}</option>
                    {{/each}}
             </select>
        </div>

        <div id="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Title</th>
                        <th>Rating</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each questions}}
                    <tr>
                        <td id="status-field"></td>
                        <td><a href="/quizzes/{{this.id}}">{{this.title}}</a></td>
                        <td>{{this.rating}}</td>
                        <td class="{{this.difficulty}}">{{this.difficulty}}</td>
                    </tr>
                    {{/each}}
                 
                </tbody>
            </table>
            {{!-- <div class="pagination">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>...</button>
                <button>10</button>
                <button>11</button>
            </div> --}}
        </div>
    </main>
    <script src="../js/navbar.js"></script>
</body>
</html>
